/.vs
/.idea
/.vscode
/.vsconfig
/*.csproj
/*.sln
/*.suo
*.swp
*.vcxproj.user
*.tmp
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
*.pidb.meta
*.pdb.meta
*.mdb.meta

/Library
/Logs
/Temp
/obj
/Build
/Builds
/Player
/Players
